/* Inter font */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  background-color: var(--background-color);
  background-image: var(--background-image);
  min-height: 100vh;
}

main {
  padding: 2em;
  text-align: left;
  width: 50%;
  min-width: 300px;
}

h2 {
  font-size: 1.3em;
}

p {
  font-size: 1.2em;
  color: var(--primary-color);
}

a {
  font-size: 1.2em;
  color: #2e3440;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status,
#loading {
  padding: 0.5em 0;
}

.footer {
  font-size: 0.9em;
}

.button {
  transition: transform 0.1s ease-in-out;
  color: var(--navbar-link-color);
}

.button:hover {
  transform: translate(0, -3px);
}

.circle {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 2px 5px 1px rgb(0,0,0,0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  z-index: 0;
}

.circle:hover {
  transform: translateY(2px); /* Simulates being pushed down */
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3); /* Subtler shadow for depth */
  z-index: 999;
}

.circle[aria-description]::before {
  content: attr(aria-description);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 10px;
  min-width: 200px;
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 2px solid #2e3440;
  border-radius: 5px;
  padding: 2px;
  z-index: 999;
  pointer-events: none;
}

.circle:hover::before {
  display: block;
}

#feed-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px;
  margin-bottom: 100px;
}

#header-right {
  display: flex;
  gap: 10px;
}

.button.active {
  color: var(--navbar-link-color-active);
}

.divider {
  border-left: 1px solid var(--primary-color);
  opacity: 50%;
}

button {
  font-size: 1.2em;
  padding: 0;
  background-color: transparent;
  color: var(--navbar-link-color);
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

button:hover {
  transform: translate(0, -3px);
}

.mask {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  mask-image: radial-gradient(circle at 0 0, transparent 0, transparent 100px, black 120px);
  -webkit-mask-image: radial-gradient(circle at 0 0, transparent 0, transparent 100px, black 120px);
  pointer-events: none;
  z-index: 2;
}