/* Inter font */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  color: #2e3440;
  background-color: #eceff4;
}

main {
  padding: 2em;
  text-align: left;
  width: 50%;
}

h2 {
  font-size: 1.3em;
}

p {
  font-size: 1.2em;
}

a {
  font-size: 1.2em;
  color: #2e3440;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status,
#loading {
  padding: 0.5em 0;
}

.footer {
  font-size: 0.9em;
}

.button {
  transition: transform 0.1s ease-in-out;
}

.button:hover {
  transform: translate(0, -3px);
}