/* Inter font */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  color: #2e3440;
  background-color: #eceff4;
}

main {
  padding: 2em;
  text-align: left;
  width: 50%;
}

h1 {
  padding-bottom: 0.5em;
}

h2 {
  font-size: 1.3em;
}

p {
  font-size: 1.2em;
}

.status {
  padding: 0.5em 0;
}

.footer {
  font-size: 0.9em;
}